.botonera= render 'botonera_editar'

= render partial: 'subir', locals: {  perfil: @perfil,
                                      adjunto: @adjunto,
                                      bloqueado: false }

.botonera= render 'botonera_editar'
