.botonera= render 'botonera_indice'

.span-24
  %table#adjuntos.centrado.span-23.last
    %tr
      %th Archivo
      %th Tipo
      %th Tamaño
      %th Notas
      %th.acciones

    = render @adjuntos

.botonera= render 'botonera_indice'
