.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.*sw[po]
TODO*

# Archivos que se generan en el deploy
public/estaticos
.capistrano

# Backup de los datos
db/datos

# Archivos a configurar en cada deploy
# TODO automatizar copia con rake
config/database.yml
config/environments/production.rb
config/environments/development.rb
config/initializers/devise.rb
config/initializers/secret_token.rb
