.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.*swp
TODO

# Archivos que se generan en el deploy
public/estaticos

# Archivos a configurar en cada deploy
# TODO automatizar copia con rake
config/database.yml
config/environments/production.rb
config/initializers/devise.rb
config/initializers/secret_token.rb
