# -*- encoding : utf-8 -*-
<%= form_for(@observacion) do |f| %>
  <% if @observacion.errors.any? %>
    <div id="mensaje_de_error">
      <h2><%= pluralize(@observacion.errors.count, "error") %> impide(n) que se guarde esta observación:</h2>
      <ul>
        <% @observacion.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="acciones">
    <%= f.submit %>
  </div>
<% end %>
