<h1>Listing observaciones</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @observaciones.each do |observacion| %>
  <tr>
    <td><%= link_to 'Show', observacion %></td>
    <td><%= link_to 'Edit', edit_observacion_path(observacion) %></td>
    <td><%= link_to 'Destroy', observacion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Observacion', new_observacion_path %>
