%table.centrado
  %thead
    %tr
      %th Fecha
      %th Nombre
      %th Ubicación
      %th Número
      %th#modal Es modal?
      %th
      %th
      %th
      %th
  %tbody
    = render calicatas
