.botonera
  - if can? :create, Busqueda
    = link_to 'Nueva búsqueda', new_busqueda_path

- if usuario_signed_in?
  = render partial: 'busquedas', object: @busquedas,
           locals: { caption: 'Tus búsquedas', columna_publicas: true }

= render partial: 'busquedas', object: @busquedas_publicas,
         locals: { caption: 'Búsquedas públicas', columna_publicas: false }

= volver_arriba
