.botonera
  - if can? :create, Busqueda
    = link_to t('.nueva_busqueda'), new_busqueda_path

- if usuario_signed_in?
  = render partial: 'busquedas', object: @busquedas,
           locals: { caption: t('.tus_busquedas'), columna_publicas: true }

= render partial: 'busquedas', object: @busquedas_publicas,
         locals: { caption: t('.busquedas_publicas'), columna_publicas: false }
