.botonera
  = link_to 'Volver', busquedas_path

#busqueda
  = search_form_for @perfiles, url: busquedas_path, html: { method: :post } do |f|

    = render partial: 'form', locals: { f: f }

= volver_arriba
