#container-mapa.d-flex.flex-column
  #bienvenida.d-none.d-md-block
    %h1
      = t('.bienvenida')

    %p= t('.datos_actuales', perfiles: Perfil.count, publicos: Perfil.publicos.count, series: Serie.count)

  #mapa{ data: { geojson: perfiles_path(publicos: true, format: :geojson), seleccion_url: seleccion_path } }

-# TODO Cargar dinámicamente desde un js
= javascript_include_tag 'http://maps.google.com/maps/api/js?v=3.29&libraries=geometry'
