-# Landing page

-# Map container with css defined height (needed for full screen map)
#container-mapa.d-flex.flex-column

  #mapa{ data: {  geojson: perfiles_path(format: :geojson),
                  seleccion_url: seleccion_path,
                  info_title: t('.title'),
                  info_text: t('.text', perfiles: @perfiles, publicos: @publicos, series: @series),
                  center: @map[:center],
                  zoom: @map[:zoom] } }

-# FIXME Load conditionally and from its own js
= javascript_include_tag "http://maps.google.com/maps/api/js?v=3&key=#{Rails.application.secrets.google_api_key}&libraries=geometry"
