%tr
  %td= best_in_place_if can?(:update, grupo),
    grupo, :descripcion, nil: "Click para editar"
  %td= best_in_place_if can?(:update, grupo),
    grupo, :codigo, nil: "Click para editar"
  %td.boton= link_to 'Eliminar',
    grupo, method: :delete,
    confirm: '¿Estás seguro? Esto probablemente va a dejar sin grupo a algunas calicatas'
