.botonera= render 'botonera_indice'

#lista
  %table#grupos.centrado
    %thead
      %tr
        %th{colspan: 4} Descripción
        %th Código
        %th.acciones

    %tbody
      = render @grupos

.botonera= render 'botonera_indice'
