#lista
  .botonera
    - if can? :create, Grupo
      = link_to "Nuevo grupo", new_grupo_path

    #paginacion
      = paginate @grupos
      = elegir_filas 'grupos'

  %table#grupos.centrado
    %thead
      %tr
        %th{colspan: 4} Descripción
        %th Código
        %th.acciones

    %tbody
      = render @grupos
