-# TODO Provide proper screen reader support with aria attributes and the .sr-only utility.
%li.page-item{ class: current_page.first? ? 'disabled' : '' }
  = link_to t('views.pagination.first.icon'), url,
    remote: remote,
    class: 'page-link',
    title: t('views.pagination.first.text'),
    disabled: current_page.first?
