%li.page-item{ class: current_page.last? ? 'disabled' : '' }
  = link_to t('views.pagination.next.icon'), url,
    rel: 'next',
    remote: remote,
    class: 'page-link',
    title: t('views.pagination.next.text'),
    disabled: current_page.last?
