- if f.object.persisted? && f.object.geolocalizado?
  = field_set_tag t('.ubicacion'), id: 'ubicacion', class: 'celeste plegable span-22 last' do
    .span-21.last.campo
      .centrado= f.object.ubicacion.mapa

-# TODO Cargar dinámicamente desde un js
= javascript_include_tag "https://maps.google.com/maps/api/js?v=3&key=#{Rails.application.secrets.google_api_key}&libraries=geometry"
