#lista
  .botonera
    - if can? :create, Fase
      = link_to "Nueva fase", new_fase_path

    #paginacion
      = paginate @fases

  %table#fases.centrado
    %thead
      %tr
        %th{colspan: 4} Nombre
        %th Código
        %th.acciones

    %tbody
      = render @fases
