.botonera= render 'botonera_indice'

#lista
  %table#fases.centrado
    %thead
      %tr
        %th{colspan: 4} Nombre
        %th Código
        %th.acciones

    %tbody
      = render @fases

.botonera= render 'botonera_indice'
