// Dimensiones
$alto_cabecera: 95px;
$altura-linea:  18px;

// Colores
// Borde inferior en la cabecera
$azul_inta:       #02567b;

$azul_claro:      #027AC6;

// Cabecera
$azul_medio:      #6497b4;
$azul_oscuro:     #0062a0;

// Fondo general
$celeste:         #EDF5FA;

// Intercalado con $celeste en los forms
$celeste_oscuro:  darken($celeste, 5%);

// Links en la cabecera
$rojo_inta:       #d82918;
$rojo_claro:      lighten($rojo_inta, 50%);
$rojo_medio:      lighten($rojo_inta, 10%);

// Notificación de éxito
$verde:           rgb(0, green($azul_inta), 0);

$gris_claro:      #777;

$tierra:          #a25038;
$tierra_claro:    lighten($tierra, 15%);

// Mixins
@mixin mensaje($color) {
  padding: 0.2em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: none repeat scroll 0 0 lighten($color, 50%);
  border-color: lighten($color, 10%);
  color: $color;
}

@mixin centrado() {
  text-align: center;
  th, td {
    text-align: inherit;
  }
}

@mixin menu_horizontal(){
  list-style: none;

  li {
    display: inline
  }
}

@mixin grid_span(){
  float: left;
  margin-right: 10px;
}

@mixin coordenada($margen) {
  width:        130px;
  float:        left;
  margin-right: $margen;
  * { float:    left; }
  .input-tag { width:  97px !important;  }
  .label-tag { width:  25px;
          margin: 6px 6px 6px 0; }
}
