// Dimensiones
$alto_cabecera: 87px;
$altura-linea:  18px;

// Colores
$azul_inta: #02567b;
$azul_claro:  lighten($azul_inta, 70%);
$celeste:     lighten($azul_claro, 3%);

$rojo_inta: #d82918;
$rojo_claro:  lighten($rojo_inta, 50%);
$rojo_medio:  lighten($rojo_inta, 10%);

$verde:       rgb(0, green($azul_inta), 0);

$gris_claro:  #777;

// Mixins
@mixin mensaje($color) {
  padding: 0.2em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: none repeat scroll 0 0 lighten($color, 50%);
  border-color: lighten($color, 10%);
  color: $color;
}

@mixin centrado() {
  text-align: center;
  th, td {
    text-align: inherit;
  }
}

@mixin menu_horizontal(){
  list-style: none;

  li {
    display: inline
  }
}

@mixin grid_span(){
  float: left;
  margin-right: 10px;
}

@mixin coordenada($margen) {
  width:        130px;
  float:        left;
  margin-right: $margen;
  * { float:    left; }
  input { width:  97px !important;  }
  label { width:  25px;
          margin: 6px 6px 6px 0; }
}
