@import "constantes";

#tabla_analisis {

  border-spacing: 1px;
  
  th, td, caption {
    padding: 0;
    background: inherit;
  }

  td * {
    margin: 0;
  }

  .dato * {
    max-width: 80px;
  }

  #titulos {
    width: 70px;
  }

  .largo {
    min-width: 82px;

    label { font-size: xx-small;}
  }

  .titulo {
    border: 1px solid #ccc;
    padding: 0 5px;
  }
}
