form#perfil_search {
  fieldset.consulta {

    .fields {
      &.grupo {
        background-color: $celeste;
      }

      &.condition {
        background-color: $celeste_oscuro;
      }

      &.value {
        @include clearfix();
      }

      &.orden {
        @include clearfix();
      }
    }

    select, input {
      width: auto;
    }
  }
}

table.busquedas {
  caption { background-color: $azul_inta;
            font-size: larger;
            color: white; }
  .publica  { width: 10%;
              text-align: center; }
  .acciones { width: 20%; }
}

.atributos_perfiles input {
  width: auto;
}
