@import "constantes";

form.completa {
  .campo-suelto {
    padding-top: 0;
    padding-left: 659px;
  }

  #calicata_observaciones {
    width: 100%;
    height: $altura-linea * 4;
    padding-left: 0;
    padding-right: 0;
  }

  #calicata_modal + #serie {
    visibility: hidden;
  }

  #calicata_modal:checked + #serie {
    visibility: visible;
  }

  #serie {
    label, input {
      margin-left: -6px;
    }
  }

  #horizontes {
    overflow-x: scroll;
    padding-bottom: 1em;
    border-right: 1px $gris_claro dashed;
    border-left: 1px $gris_claro dashed;
  }

  #tabla_horizontes {
    width: 870px;
  }
}
