@import "constantes";

form.completa {
  .campo-suelto {
    padding-top: 0;
    padding-left: 659px;
  }

  #calicata_observaciones {
    width: 100%;
    height: $altura-linea * 4;
    padding-left: 0;
    padding-right: 0;
  }

  #serie {
    label, input {
      margin-left: -6px;
    }
  }

  // Alrededor de 40px por columna
  #scrolleable_horizontes {
    width: 1590px;
  }

  .coordenada-y { @include coordenada(10px);  }
  .coordenada-x { @include coordenada(0px);
                  padding-right: 0; }

}

#lista {
  #paginacion {
    float: right;
  }

  #modal {  width: 50px; }
}
