@import "constantes";

form.completa {
  .campo-suelto {
    padding-top: 0;
    padding-left: 659px;
  }

  #calicata_observaciones {
    width: 100%;
    height: $altura-linea * 4;
    padding-left: 0;
    padding-right: 0;
  }

  label {
    font-size: x-small;
  }

  .fecha {
    text-align: center;
  }

}
