@import "constantes";

form#csv {

  label {
    font-size: x-small;
  }

  #atributos {
    .campo {
      margin-left: 30px;
      margin-right: 30px;
      label {
        padding-left: 4px;
      }
      input[type='checkbox'] {
        margin-left: 4px;
      }
    }
  }

}
