#lista {
  .miembros   { width: 25%;
                text-align: center; }
  .acciones   { width: 30%; }
}

#equipo {
  #miembros {
    margin-bottom: 1em;
    border-bottom: 1px solid $gris_claro;
    .borrar     { width: 1%;
                  color: $rojo_inta;
      // Si hay javascript lo muestro y oculto el checkbox
      a {         display: none; } }

    .nombre { width: 40%; }
    .email  { width: 40%; }

    #x {
      text-align: center;
      padding-left: 10px;
    }
  }

  #agregar_miembro {
    input {
      margin: 5px;
    }
  }
}
