form {
  line-height: $altura_linea;

  input {
    width: 100%;
  }

  input[type="number"] {
    margin: 0.5em 0;
    border: 1px solid #BBBBBB;
    color: #000000;
  }

  select { width: 100%; }

  input[type="checkbox"] {
    margin-left: 2px;
  }

  textarea {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .subtitulo { text-decoration: underline; }

  .texto-corto { height: $altura_linea * 2 + 1;  }

  .fecha { text-align: center; }

  .campo {
    .ayuda {
      display: none;
      background-color: lightyellow;
      z-index: 3;
      position: absolute;
      left: 1%;
      min-height: 6%;
      width: 12%;
      border: 1px solid black;
      text: black;
      padding: 2px;
    }
    &:hover {
      .ayuda {
        display: block;
      }
    }
  }

  .oculto {
    display: none;
  }

  input, textarea, select {
    &[disabled] {
      background-color: #f5f5f5;
      color: #000;
    }
  }

  .agregar {
    font-size: large;
  }

  .remover {
    padding-left: 2px;
    color: $rojo_inta;
  }

  .remover, .agregar {
    font-weight: bold;
    text-decoration: none;
  }

  // estilos para los placeholder (mozilla y chrome)
  input:-moz-placeholder {      color: $gris_claro; }
  ::-webkit-input-placeholder { color: $gris_claro; }
  input:focus::-webkit-input-placeholder {  color: transparent; }

  // estilo para los campos y etiquetas con error en los formularios

  .field_with_errors {

    input {
      color: black;
      background: lighten($rojo_inta, 50%);
      border-color: $rojo_inta;
    }

    label {
      color: $rojo_inta;
      text-decoration: underline;
    }

  }

  .error_field {
    // sobreescribe el default size=30
    width: inherit !important;
  }

}
// div con mensajes de error
#errorExplanation {
  @include mensaje($rojo_inta);
  padding: 1em;
  color: black;

  // título del div
  h2 {
    color: $rojo_inta;
    font-weight: bold;
  }

  // mensaje sobre los errores en general
  p { font-weight: bold;}

  ul {
    // cada mensaje de error independiente
    li {
    }
  }
}

.prepend-media      { padding-left: 20px; }
.prepend-unaymedia  { padding-left: 60px; }
.append-media       { padding-right: 20px; }
.append-unaymedia   { padding-right: 60px; }
.span-unaymedia     {
  width: 45px;
  float: left;
  margin-right: 10px;
}

select {
  border-color: #bbb;
}

.contenedor-scroll {
  overflow-x: scroll;
  padding-bottom: 1em;
  border-right: 1px $gris_claro dashed;
  border-left: 1px $gris_claro dashed;
}

.empty {
  padding-top: 15.3334px;
  font-style: italic;
}
