@import "constantes";

// estilo para los campos y etiquetas con error en los formularios
.field_with_errors {

  width: inherit !important;

  label, input {
    @include mensaje($rojo_inta);
    color: black;
    border-width: 1px;
    margin-bottom: 0;
  }
}

// div con mensajes de error
#errorExplanation {
  @include mensaje($rojo_inta);
  padding: 1em;
  color: black;

  // título del div
  h2 {
    color: $rojo_inta;
    font-weight: bold;
  }

  // mensaje sobre los errores en general
  p { font-weight: bold;}

  ul {
    // cada mensaje de error independiente
    li {
    }
  }
}
