@import "constantes";

form {
  line-height: $altura-linea;

  input {
    width: inherit !important;
  }

  input[type="number"] {
    margin: 0.5em 0;
    border: 1px solid #BBBBBB;
    color: #000000;
  }

  select {  width: 100%;  }

  input[type="checkbox"] {
    margin-left: -2px;
  }

  .subtitulo { text-decoration: underline; }

  .texto-corto { height: $altura-linea * 2 + 1;  }

  .campo {
  }
}

// estilo para los campos y etiquetas con error en los formularios
.field_with_errors {

  width: inherit !important;

  label, input {
    @include mensaje($rojo_inta);
    color: black;
    border-width: 1px;
    margin-bottom: 0;
  }
}

// div con mensajes de error
#errorExplanation {
  @include mensaje($rojo_inta);
  padding: 1em;
  color: black;

  // título del div
  h2 {
    color: $rojo_inta;
    font-weight: bold;
  }

  // mensaje sobre los errores en general
  p { font-weight: bold;}

  ul {
    // cada mensaje de error independiente
    li {
    }
  }
}

.prepend-media      { padding-left: 20px; }
.prepend-unaymedia  { padding-left: 60px; }

.boton {
  padding: 0;
  font-size: x-small;
}
