@import "constantes";

#titulo {
  height: $alto_cabecera;
  float: none;
  margin: auto;

  .inicio {
    color: white;
    margin-bottom: 0;
    a {
      text-decoration: none;
    }
  }

  a {
    color: white;
    &:hover {
      color: $rojo_inta;
    }
  }

  #flash_alert, #flash_error {
    @include mensaje($rojo_inta);
  }

  #flash_notice {
    @include mensaje($verde);
  }
}

ul.menu_usuarios {
  @include menu_horizontal;
  margin: 0 0 2em;
  padding: 0;
}

#botonera {
  float: none;
  margin: auto;
  height: 35px;
  .botones {
    @include menu_horizontal;
    li {
      width: 50px;
      font-size: large;
      background-color: $azul_inta;
      a {
        width: 100%;
        padding: 5px;
        text-decoration: none;
        background-color: $azul_claro;
        &:hover {
          color: $rojo_inta;
        }
      }
    }
    padding: 0;
  }
}

.celeste {
  background-color: $celeste;
}

.azul_claro {
  background-color: $azul_claro;
}

#principal h1 {
  @include centrado;
}

#cabecera {
  width: 100%;
  background-color: $azul_inta;
}

.centrado {
  @include centrado;
}

.flotado {
  float: left;
}

.desaparecer {
  display: none;
}
