@import "constantes";

#menu {
  height: $alto_cabecera;
  float: none;
  margin: auto;

  .inicio {
    color: white;
    margin-bottom: 0;
    a {
      text-decoration: none;
    }
  }

  a {
    color: white;
    &:hover {
      color: $rojo_inta;
    }
  }

  #flash_alert, #flash_error {
    @include mensaje($rojo_inta);
  }

  #flash_notice {
    @include mensaje($verde);
  }
}

ul.menu_horizontal {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;

  li {
    display: inline
  }
}

.celeste {
  background-color: $celeste;
}

.azul_claro {
  background-color: $azul_claro;
}

#principal h1 { text-align: center; }

#cabecera {
  width: 100%;
  background-color: $azul_inta;
}
