@import "constantes";

#titulo {
  height: $alto_cabecera;
  float: none;
  margin: auto;

  .inicio {
    color: white;
    margin-bottom: 0;
    a {
      text-decoration: none;
    }
  }

  a {
    color: white;
    &:hover {
      color: $rojo_inta;
    }
  }

  #flash_alert, #flash_error {
    @include mensaje($rojo_inta);
  }

  #flash_notice {
    @include mensaje($verde);
  }

  #logo {
    border-right: 1px solid white;
  }
}

ul.menu_usuarios {
  @include menu_horizontal;
  margin: 0 0 2em;
  padding: 0;
}

.botonera {
  float: none;
  margin-bottom: 1em;
  @include menu_horizontal;
}

.celeste {
  background-color: $celeste;
}

.azul_claro {
  background-color: $azul_claro;
}

#principal h1 {
  @include centrado;
}

#cabecera {
  width: 100%;
  background-color: $azul_inta;
  margin-bottom: 1em;
}

.centrado {
  @include centrado;
}

.flotado {
  float: left;
}

.desaparecer {
  display: none;
}
