#serie {
  #serie_descripcion {
    height: $altura_linea * 4;
  }

  // Series no necesita el nombre en la lista de perfiles
  #perfiles_asociados {
    .nombre { display: none; }
    .ubicacion { width: 67%; }
  }
}
