@import "constantes";

#serie {

  #serie_descripcion {
    height: $altura-linea * 4;
  }

  #perfiles {
    label {
      font-weight: normal;
      font-size: small;
    }

    .borrar     { width: 1%;  }
    .ubicacion  { width: 67%; }
    .numero     { width: 10%;
                  text-align: center; }
    .fecha      { width: 10%; }
    .modal      { width: 10%; }
    .acciones   { width: 2%; }

  }

}
