.consejo {
  font-size: x-small;
  font-style: italic;
}

#lista {
  #usuarios {
    .nombre   { width: 35%; }
    .email    { width: 35%; }
    .rol      { width: 20%; }
    .acciones { width: 10%; }
  }
}
