#lista
  .botonera
    #paginacion
      = paginate @usuarios

  = form_tag update_varios_usuarios_path, method: :put do

    %table#usuarios
      %thead
        %tr
          %th.nombre  Usuario
          %th.email   Email
          %th.rol     Rol
          %th.acciones

      %tbody
        = render @usuarios

    .span-4= submit_tag 'Actualizar'
