// Estilos para las secciones generales, layout, barras de navegación, etc

// Desde sm hacia abajo colapsamos la barra de navegación
@include media-breakpoint-down(sm) {
  .navbar {
    // Al colapsar, esconder los bordes de los dropdowns en la barra de navegación
    .dropdown-menu {
      border: none;
    }
  }
}

body {
  // Separa la barra de navegación del contenido
  padding-top: 5rem;
  padding-bottom: 1rem;
}
