// Estilos para las secciones generales, layout, barras de navegación, etc

// Desde md hacia arriba el título y la búsqueda tienen que ocupar más espacio
@include media-breakpoint-up(md) {
  .navbar {
    .titulo {
      // Distribuir el espacio ocupado entre .titulo y .navbar-collapse
      display: flex;
      flex-basis: 100%;
    }
  }
}

// Desde sm hacia abajo
@include media-breakpoint-down(sm) {
  // Colapsamos la barra de navegación
  .navbar {
    // Al colapsar, esconder los bordes de los dropdowns en la barra de navegación
    .dropdown-menu {
      border: none;
    }

    // Volvemos titulo a tamaño fluído
    .titulo {
      width: inherit;
    }
  }

  // Esconder la selección de filas
  .pagination {
    &.elegir-filas {
      display: none;
    }

    &.elegir-paginas {
      margin-right: ($grid-gutter-width / 2);
    }
  }
}

body {
  // Separa la barra de navegación del contenido
  padding-top: 5rem;
  padding-bottom: 1rem;

  .botonera {
    // Estandarizar el espacio entre contenido real y barra de navegación
    min-height: 3rem;
  }

  .pagination {
    // Separar el bloque de acciones de las páginas
    &.elegir-filas {
      margin-left: ($grid-gutter-width / 2);
      margin-right: ($grid-gutter-width / 2);
    }
  }
}
