// Estilos para las secciones generales, layout, barras de navegaci贸n, etc

// Desde sm hacia abajo colapsamos la barra de navegaci贸n
@include media-breakpoint-down(sm) {
  .navbar {
    // Al colapsar, esconder los bordes de los dropdowns en la barra de navegaci贸n
    .dropdown-menu {
      border: none;
    }
  }
}

body {
  // Separa la barra de navegaci贸n del contenido
  padding-top: 5rem;
  padding-bottom: 1rem;
}
