// Estilos para las secciones generales, layout, barras de navegación, etc

// Desde md hacia arriba el título y la búsqueda tienen que ocupar más espacio
@include media-breakpoint-up(md) {
  .navbar {
    .titulo {
      // Distribuir el espacio ocupado entre .titulo y .navbar-collapse
      display: flex;
      flex-basis: 100%;
    }
  }

 .navbar-expand-md {
   .navbar-collapse {
     // Hace espacio para el ícono en los dropdown links
     flex-basis: 100%;
   }
 }
}

// Desde sm hacia abajo
@include media-breakpoint-down(sm) {
  // Colapsamos la barra de navegación
  .navbar {
    // Al colapsar, esconder los bordes de los dropdowns en la barra de navegación
    .dropdown-menu {
      border: none;
    }

    // Volvemos titulo a tamaño fluído
    .titulo {
      width: inherit;
    }
  }

  // Esconder la selección de filas
  .pagination {
    &.elegir-filas {
      display: none;
    }

    &.elegir-paginas {
      margin-right: ($grid-gutter-width / 2);
    }
  }

  .encabezado {
    display: none;
  }
}

// Separa la barra de navegación del contenido
body {
  padding-top: $navbar-height;

  nav.navbar {
    height: $navbar-height;
  }
}

.botonera {
  // Estandarizar el espacio entre contenido real y barra de navegación
  min-height: 3rem;
}

.pagination {
  // Separar el bloque de acciones de las páginas
  &.elegir-filas {
    margin-left: ($grid-gutter-width / 2);
    margin-right: ($grid-gutter-width / 2);
  }
}

// Además de la clase, al elemento hay que agregarle un < para que haml saque
// el formato y quede vacío de verdad
.ocultar-vacios:empty {
  display: none;
}

.columna-con-icono {
  display: flex;
  justify-content: space-around;
}
