$alto_cabecera: 82px;
$azul_inta: #02567b;
$azul_claro: lighten($azul_inta, 70%);
$rojo_inta: #d82918;
$rojo_claro: lighten($rojo_inta, 50%);
$rojo_medio: lighten($rojo_inta, 10%);

@mixin mensaje($color) {
  padding: 0.2em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: none repeat scroll 0 0 lighten($color, 50%);
  border-color: lighten($color, 10%);
  color: $color;
}

#cabecera {
  height: $alto_cabecera;
  background-color: $azul_inta;

  h1 {
    color: white;
    margin-bottom: 0;
  }

  a {
    color: white;
    &:hover {
      color: $rojo_inta;
    }
  }

  #flash_alert {
    @include mensaje($rojo_inta);
  }

  #flash_notice {
    @include mensaje(rgb(0, green($azul_inta), 0));
  }
}

ul.menu_horizontal {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;

  li {
    display: inline
  }
}

#principal {
  background-color: $azul_claro;
}
