// Para que el mapa de Leaflet se ajuste a la altura automáticamente
// necesitamos definir una altura para todos los contenedores del mapa.
html { height: 100%; }
body { height: 100%; }
#container-principal { height: 100%; }
#container-mapa { height: 100%; }

#container-mapa {
  // Márgenes negativos para que el mapa ocupe el viewport entero, compensando
  // el padding de container-fluid
  margin-left: ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);
}

#bienvenida {
  // No ocupar más que el necesario por el contenido
  flex-grow: 0;
}

#mapa {
  // Ocupar el resto del espacio disponible
  flex-grow: 1;

  // Redefinir el box-sizing que aplica Bootstrap. Ver
  // https://getbootstrap.com/docs/4.0/getting-started/introduction/#box-sizing
  box-sizing: content-box;
}

// Caja con título y subtítulo para el mapa
.leaflet-control.info {
  // Usar el mismo estilo que los demás controles de Leaflet
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 5px;
  // Pero con un fondo semitransparente porque es una caja grande
  background-color: rgba(255, 255, 255, 0.7);
  // Alinear horizontalmente con los demás controles
  clear: none;

  .title { margin: 0; }
  .text { margin: 0; }
}

@include media-breakpoint-down(sm) {
  .leaflet-control.info {
    .title {
      font-weight: $font-weight-bold;
      font-size: small;
    }

    .text {
      font-size: x-small;
    }
  }
}
