<p>¡Bienvenido <%= @resource.email %>!</p>

<p>Podés confirmar tu cuenta mediante el siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
