<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu password, lo cuál podés
hacer mediante el siguiente link:</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no fuiste vos quien pidió el cambio de password, simplemente ignorá
este email.</p>
<p>Tu password no va a cambiar a menos que accedas al link anterior y crees
uno nuevo.</p>
