.botonera= render 'botonera_editar'

= render partial: 'tabla', locals: {  perfil: @perfil,
                                      analiticos: @analiticos,
                                      bloqueado: false }

.botonera= render 'botonera_editar'
