.botonera= render 'botonera_mostrar'

= render partial: 'tabla', locals: {  perfil: @perfil,
                                      analisis: @analisis,
                                      bloqueado: true }

.botonera= render 'botonera_mostrar'
