<h1>Listing series</h1>

<table>
  <tr>
    <th>Provincia</th>
    <th>Partido</th>
    <th>Simbolo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @series.each do |serie| %>
  <tr>
    <td><%= serie.provincia %></td>
    <td><%= serie.partido %></td>
    <td><%= serie.simbolo %></td>
    <td><%= link_to 'Show', serie %></td>
    <td><%= link_to 'Edit', edit_serie_path(serie) %></td>
    <td><%= link_to 'Destroy', serie, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Serie', new_serie_path %>
