.botonera= render 'botonera_editar'

= render partial: 'tabla', locals: {  calicata: @calicata,
                                      analisis: @analisis,
                                      bloqueado: false }

.botonera= render 'botonera_editar'
