<div id="cabecera" class="span-24">
  <div class="span-4" id="logo"><%= image_tag "logo.jpg", :alt => 'INTA' %></div>
  <div class="span-20 last">
    <h1>Sistema de Bases de datos de suelos</h1>
    <ul class="menu_horizontal">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :class => 'mensaje', :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>
  </div>
</div>
