<div id="cabecera" class="span-24">
  <div id="logo"><%= image_tag "logo.jpg", :alt => 'INTA' %></div>
  <ul class="menu_horizontal">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>
</div>
